<app-header></app-header>

<div >
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/img1.png"  alt="image1" height="600px" width="1800px">
    </div>
    <div class="carousel-item">
      <img src="../../assets/img2.jpg" class="d-block w-100" alt="image2"height="600px" width="1800px">
    </div>
    <div class="carousel-item">
      <img src="../../assets/img4.png" class="d-block w-100" alt="image3"height="600px" width="1800px">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div><br><br>
<p style="text-align: center;font-size:500%;font-weight: bolder;font-style: italic;color: rgba(46, 42, 42, 0.76);">Organize your<br><br><br><br>work and life, finally.</p>
<p style="text-align: center;font-size:500%;font-weight: bolder;font-style: italic;color: rgba(46, 42, 42, 0.76);"></p><br><br>
<p style="text-align: center;font-size: 200%;">Become focused, organized, and calm with<br><br> Todo Tracker. The world’s #1 task manager and<br><br> to-do list app.</p><br><br>
<button  style="margin-left: 47%;"type="button" class="btn btn-warning btn-lg">Get Started</button>

<section class="home">
<div class="image">
      <img src="../../assets/img8.png" >
  </div>
<div class="content">
    <span style="text-align: center;font-size:500%;font-weight: bolder;font-style: italic;">Forgetting Things<br><br></span>
       <p>
        It’s hard to remember everything when there’s too much to do at work or in everyday life. Some still prefer to put to-dos and ideas on paper, but technologies offer a better way to handle forgetfulness. Apps for mobile devices, PCs and the Web remind you when something needs to get done, help you share your ideas and collaborate with others to accomplish tasks sooner.
      </p>
  </div>
</section>

<section class="home">

  <div class="content1">
    <span style="text-align: center;font-size:500%;font-weight: bolder;font-style: italic;">Reach that mental clarity <br><br><br><br>you’ve been longing for.</span>
       <p>
        It’s hard to remember everything when there’s too much to do at work or in everyday life. Some still prefer to put to-dos and ideas on paper, but technologies offer a better way to handle forgetfulness. Apps for mobile devices, PCs and the Web remind you when something needs to get done, help you share your ideas and collaborate with others to accomplish tasks sooner.
      </p>
  </div>

  <div class="image">
    <img src="../../assets/img7.webp" >
  </div>
</section>

<section class="home">
  <div class="image">
        <img src="../../assets/img10.webp" >
    </div>
  <div class="content">
      <span style="text-align: center;font-size:500%;font-weight: bolder;font-style: italic;">Add your tasks.<br><br><br>
        Organize your life.<br><br><br>
        Achieve more every day<br><br>
      </span><br>
      <ul>Create tasks, sub-tasks, and add comments</ul>
      <ul>Make to-do lists and notes</ul>
      <ul>Add reminders and events in Calendar</ul>
      <ul> Set start and end-date to define task deadlines</ul>
      <ul>Add time estimates to make teams accountable</ul>
    </div>
  </section>



  <div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="features">Features</a></li>
            <li class="list-inline-item"><a href="pricing">Pricing</a></li>
            <li class="list-inline-item"><a href="contact">Contact Us</a></li>
        </ul>
        <p class="copyright">To-Do Tracker © 2022</p>
    </footer>
</div>