<app-header></app-header>
<div style="background-image: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-1.2.1&dl=keith-misner-h0Vxgz5tyXA-unsplash.jpg&q=80&fm=jpg&crop=entropy&cs=tinysrgb)">
   <br> <h1 style="text-align: center;font-size:500%;margin-top: 7%;font-style: italic;color: aliceblue;font-family: cursive;">“Todo Tracker is the number <br><br><br>one to-do list app”</h1>
<div class="container">
    <div class="row">
<mat-card class="example-card" style="text-align: center;">
    <img style="border-radius: 50%; width: 150px;height: 150px;margin-left: 2%;" src="https://learnvietnamesewithannie.com/data/images/5c92b23b050cfd8900ce66c3538a5e46.png"><br><br>
    <h1 style="font-weight: bolder;font-size: xx-large;">Free</h1>
    <h1 style="font-weight: bolder;font-size: xx-large;">₹0</h1><br>
    <mat-icon>check</mat-icon>&nbsp;&nbsp;<h1 style="font-weight: bolder;">5 active projects</h1>
    <mat-icon>check</mat-icon>&nbsp;&nbsp;<h1 style="font-weight: bolder;">5 collaborators per project</h1>
    <mat-icon>check</mat-icon>&nbsp;&nbsp;<h1 style="font-weight: bolder;">5 MB file uploads</h1>
    <mat-icon>check</mat-icon>&nbsp;&nbsp;<h1 style="font-weight: bolder;">3 filters</h1>
    <mat-icon>check</mat-icon>&nbsp;&nbsp;<h1 style="font-weight: bolder;">1-week activity history</h1>
    <button mat-raised-button color="warn" style="margin-left: 3%;">Get Started</button>
</mat-card>
<mat-card class="example-card" style="text-align: center;">
    <img style="border-radius: 50%; width: 150px;height: 150px;margin-left: 2%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbIz3e7epvkb1kg7k948yPO8UjcNQaK-4tig&usqp=CAU"><br><br>
    <h1 style="font-weight: bolder;font-size: xx-large;">Pro</h1>
    <h1 style="font-weight: bolder;font-size: xx-large;">₹700</h1><br>
    <mat-icon>check</mat-icon>&nbsp;&nbsp;<h1 style="font-weight: bolder;">300 active projects</h1>
    <mat-icon>check</mat-icon>&nbsp;&nbsp;<h1 style="font-weight: bolder;">25 collaborators per project</h1>
    <mat-icon>check</mat-icon>&nbsp;&nbsp;<h1 style="font-weight: bolder;">100 MB file uploads</h1>
    <mat-icon>check</mat-icon>&nbsp;&nbsp;<h1 style="font-weight: bolder;">150 filters</h1>
    <mat-icon>check</mat-icon>&nbsp;&nbsp;<h1 style="font-weight: bolder;">Reminders</h1>
    <button mat-raised-button color="warn" style="margin-left: 3%;">Upgrade Now</button>
</mat-card>
<mat-card class="example-card" style="text-align: center;">
    <img style="border-radius: 50%; width: 150px;height: 150px;margin-left: 2%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoSpvaJZ7gJvA8LRmkHl_ZWrs2Qymg1-KPeKP88zfyV_lnoCHifEIIIdpjvzL8rHUUNEQ&usqp=CAU"><br><br>
    <h1 style="font-weight: bolder;font-size: xx-large;">Buisness</h1>
    <h1 style="font-weight: bolder;font-size: xx-large;">₹1200</h1><br>
    <mat-icon>check</mat-icon>&nbsp;&nbsp;<h1 style="font-weight: bolder;">Everything in Pro</h1>
    <mat-icon>check</mat-icon>&nbsp;&nbsp;<h1 style="font-weight: bolder;">500 active projects per member</h1>
    <mat-icon>check</mat-icon>&nbsp;&nbsp;<h1 style="font-weight: bolder;">50 people per project</h1>
    <mat-icon>check</mat-icon>&nbsp;&nbsp;<h1 style="font-weight: bolder;">Team inbox & billing</h1>
    <mat-icon>check</mat-icon>&nbsp;&nbsp;<h1 style="font-weight: bolder;">Admin & member roles</h1>
    <button mat-raised-button color="warn" style="margin-left: 3%;">Try For Free</button>
</mat-card>
</div>
</div><br>
</div>
<div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="features">Features</a></li>
            <li class="list-inline-item"><a href="pricing">Pricing</a></li>
            <li class="list-inline-item"><a href="contact">Contact Us</a></li>
        </ul>
        <p class="copyright">To-Do Tracker © 2022</p>
    </footer>
</div>