<app-header></app-header>
<div class="about-section" >

<div >
  
  <h1 style="width: 100%; color: aliceblue;font-size: xx-large;font-family: cursive;" >Features Of To-do-app</h1>
  <!-- <p >From overwhelmed to on top of it</p>
  <h5> <p> Todoist gives you the confidence that everything’s organized and accounted for, so you can make progress on the things that are important to you.</p></h5> -->
</div>


<div class="row" >
  <div class="column">
    <div class="card">
     
      <div class="container">
        <h2>Make it fast to add and organize tasks</h2>
        <p class="title"></p>
        <p>Start each day feeling calm and in control</p>
        <p> Ideally, a task is added and categorized in a couple taps or keystrokes</p>
        <img src="https://todoist.com/_next/static/images/delegate-tasks_7f87868d84cb6c8350d33609745e2487.webp" alt="Jane" style="width:100%;height: 50%;">
        <p><button class="button">Go To App</button></p>
      </div>
    </div><br>
    <div class="card">
      <img src="https://i.ytimg.com/vi/fh_AYqWhEJY/maxresdefault.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>To Improve Focus On your Work</h2>
        
        <p>Cross-platform support with effortless, </p>
        <p >reliable syncing</p>
        <p><button class="button">Go To App</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
      <img src="https://todoist.com/_next/static/images/boards@2x_3cb1a0f5adac9e859f325887e79b1f1b.webp" alt="Mike" style="width:100%">
     
        <h2>Offer clean user interfaces. </h2>
        <p class="title"></p>
        <p>Well-designed to-do apps fit into your workflow </p>
        <p>so you can get back to what you're supposed to be doing</p>
        <p><button class="button">Go To App</button></p>
      </div>
    </div><br>
    <div class="card">
      <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4ytrV?ver=9f02&q=90&h=675&w=830&b=%23FFFFFFFF&aim=true" alt="John" style="width:100%">
      <div class="container">
        <h2>A smart daily planner</h2>
        
        <p>Set yourself up for success with My Day,  With both a Microsoft to do desktop app and mobile app available,</p>
        <p >intelligent and personalized suggestions to update your daily or weekly to do list.</p>
        <p> it is easy to stay on task all day long. </p>
        <p><button class="button">Go To App</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://todoist.com/_next/static/images/mails@2x_4898c84a154ec46a289ffbba53d2b8f4.webp" alt="John" style="width:100%">
      <div class="container">
        <h2>Remind you about self-imposed deadlines</h2>
        <!-- <p class="title">Designer</p> -->
        <p>Notifications, widgets, emails—the best applications </p>
        <p>make it obvious when something needs to be completed.</p>
        <p><button class="button">Go To App</button></p>
      </div>
    </div><br>
    <div class="card">
      <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE3HLIZ?ver=4268&q=90&h=675&w=830&b=%23FFFFFFFF&aim=true" alt="John" style="width:100%">
      <div class="container">
        <h2>Sharing made easy</h2>
        
        <p>Sharing an online to do list can help keep you connected 

        </p>
        <p >with friends, family and colleagues.</p>
      
        <p><button class="button">Go To App</button></p>
      </div>
    </div>
  </div>



</div>

</div>
<div class="footer-basic">
  <footer>
      <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Home</a></li>
          <li class="list-inline-item"><a href="features">Features</a></li>
          <li class="list-inline-item"><a href="pricing">Pricing</a></li>
          <li class="list-inline-item"><a href="contact">Contact Us</a></li>
      </ul>
      <p class="copyright">To-Do Tracker © 2022</p>
  </footer>
</div>

