<mat-toolbar style="background-color: black">
  <nav class="navbar">
    <a href="admin"> <div class="abc"><img src="..//../assets/logo.jpg"> </div> </a>
    <a href="">  <span style="font-family:cursive;">Home</span> </a>
    <a href="features">  <span style="font-family:cursive">Features</span> </a>
    <a href="pricing"> <span style="font-family:cursive">Pricing</span> </a>
    <a href="contact">  <span style="font-family:cursive">Contact Us</span> </a>
    <h2 ></h2>
    <h2></h2>
    <a href="login"> <span style="font-family:cursive">Login</span> </a>
    <a href="register"> <span style="font-family:cursive">Register</span> </a>
</nav>
</mat-toolbar>

