
      <h1 style="color: red;text-align: center;font-family: cursive;">Update Task</h1>
      <form  [formGroup]="AddTaskform" (ngSubmit)="edittask()" style="margin-left:28px;">
        <mat-form-field appearance="outline" style="width: 350px;">
            <mat-label>Task Id</mat-label>
            <input matInput  id="taskTitle" formControlName="taskId" >
          </mat-form-field><br>


            <mat-form-field appearance="outline" style="width: 350px;">
              <mat-label>Task Title</mat-label>
              <input matInput  id="taskTitle" formControlName="taskTitle" >
            </mat-form-field><br>
      
            <mat-form-field appearance="outline" style="width: 350px;">
              <mat-label>Category</mat-label>
              <mat-select id="category" formControlName="category">
                <mat-option value="Official task">Official Task</mat-option>
                <mat-option value="Non-Official task">UnOfficial Task</mat-option>
              </mat-select>
            </mat-form-field><br>
      
            <mat-form-field appearance="outline" style="width: 350px;">
              <mat-label>Description</mat-label>
              <textarea matInput  id="inputAddress" formControlName="description" rows="4"></textarea>
            </mat-form-field><br>
      
            <mat-form-field appearance="outline" style="width: 350px;">
              <mat-label>Priority</mat-label>
              <mat-select id="priority"  formControlName="priority">
                <mat-option value="Low">Low</mat-option>
                <mat-option value="Medium">Medium</mat-option>
                <mat-option value="High">High</mat-option>
              </mat-select>
            </mat-form-field>
      
            <div class="form-row">
              <div class="form-group col-md-6" style="width: 350px;">
                <label for="Date & Time" style="margin-left:35%">Date & Time</label>
                <input type="datetime-local" class="form-control" id="datetimelocal" formControlName="date">
              </div>
            </div>
      <br>
            <button type="submit" class="btn btn-primary" style="margin-left: 35%;">Update Task</button>
      
      </form>
      