/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
.ngx-toastr {
    /* width: 250px !important;   */
    align-items: center;
    top: 12px; 
    right: 100%; 
   margin-left: 500px;
  }




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

